openapi: 3.1.0
info:
  contact:
    email: tec@easypay.pt
    name: Easypay Documentation
  description: <a href='https://www.easypay.pt/en/legal-terms-and-conditions/' class='item'>Terms
    conditions and legal terms</a><br><a href='https://www.easypay.pt/en/privacy-and-data-protection-policy/'
    class='item'>Privacy Policy</a>
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  title: Easypay Payments API
  version: "2.0"
  x-logo:
    url: https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/logo.png
    altText: easypay
servers:
- description: Production
  url: https://api.prod.easypay.pt/2.0
- description: Sandbox
  url: https://api.test.easypay.pt/2.0
security:
- accountId: []
  apiKey: []
tags:
- description: "The easypay API is a collection of web services that allow you to\
    \ receive payments from customers, be notified of those payments, refund them\
    \ if necessary, among others.\n\n## URLs\n\nThe API endpoints are available through\
    \ the following domains:\n\n- For test environment:\n  ```bash\n    https://api.test.easypay.pt/\n\
    \  ```\n- For production environment:\n  ```bash\n    https://api.prod.easypay.pt/\n\
    \  ```\n\n## Authentication\n\nTo create credentials for your account you can\
    \ follow [this guide](https://www.easypay.pt/blog/como-gerar-chaves-de-autenticacao/).\
    \ \n\nServer-to-server requests to easypay APIs must be authenticated via **Account\
    \ ID** and **API Key**.\nTo do so, include the following HTTP headers in your\
    \ API requests:\n\n```\nAccountId: <YOUR_ACCOUNT_ID>\nApiKey: <YOUR_API_KEY>\n\
    ```\n\nWhen these headers are missing or incorrect, a `403` HTTP status code is\
    \ returned.\n\nFor your convenience, during tests you can use the following ID/Key\
    \ pair:\n\n```\nAccountId: 2b0f63e2-9fb5-4e52-aca0-b4bf0339bbe6\nApiKey: eae4aa59-8e5b-4ec2-887d-b02768481a92\n\
    ```\n\nThese will **only work for testing purposes** and **won't work** in production.\n\
    \n## Errors\n\nEasypay uses HTTP response status codes to indicate the success\
    \ or failure of your API requests. If your request fails, Easypay returns an error\
    \ using the appropriate status code.\n\nIn general, there are three status code\
    \ ranges you can expect:\n\n- `2xx` success status codes confirm that your request\
    \ worked as expected\n- `4xx` error status codes indicate an error because of\
    \ the information provided (for example, a required parameter was omitted).\n\
    - `5xx` error status codes are rare and indicate an error with Easypay’s servers.\n\
    \nSome `4xx` errors that could be handled programmatically (for example, a card\
    \ is declined) include an error code (a short string with a brief explanation)\
    \ as a value for `code`.\n\nBelow is a list of possible error codes that can be\
    \ returned, along with additional information about how to resolve them. For your\
    \ convenience, these types of errors also include the `doc_url` attribute with\
    \ a direct link to the specific error code it corresponds to.\n\n### <strong>Authentication\
    \ Error</strong>\n\nThis error can have multiple potential causes. Here are some\
    \ examples:\n\n- Missing/Invalid AccountId and/or ApiKey Headers\n- Your account\
    \ has been blocked\n- You don't enough permissions to the action requested\n\n\
    ### Invalid Content Type Error\n\nThis error can only have one cause, you provided\
    \ an invalid/unsupported content type header.\n\n### Invalid JSON Error\n\nThis\
    \ error happens when you provide a bad formated JSON payload.\n\n### Invalid Params\
    \ Error\n\nThis error indicates the information provided was incorrect of insufficient\
    \ (for example, a required parameter was omitted).\n\n### Internal Error\n\nThis\
    \ error indicates that an unexpected error ocurred on our servers.\n## Idempotency\n\
    \n### Safe Retries in Easypay API: The Role and Implementation of Idempotency\
    \ Keys\n\nEasypay API incorporates idempotency that enables the **safe re-submission\
    \ of requests, eliminating the risk of unintentionally duplicating operations**.\n\
    \nThis helps to circumvent unintentional replication due to failures and retries.\n\
    \nFor instance, in an event of a timeout error, you can securely resend the same\
    \ API payment call several times, assured that the payment detail will be debited\
    \ only once.\n\nTo execute an idempotent request, simply include an additional\
    \ `Idempotency-Key` header within the request parameters.\n\n```shell\ncurl -L\
    \ -X POST 'https://api.test.easypay.pt/2.0/checkout' \\\n  -H 'AccountId: 2b0f63e2-9fb5-4e52-aca0-b4bf0339bbe6'\
    \ \\\n  -H 'ApiKey: eae4aa59-8e5b-4ec2-887d-b02768481a92' \\\n  -H 'Idempotency-Key:\
    \ 435e08a0-e5a9-4216-acb5-44d6b96de612' \\\n  -H 'Content-Type: application/json'\
    \ \\\n  --data-raw '{ \"type\": [ \"single\" ] ... }'\n```\n\nYou can check if\
    \ a request is a replay by checking if the `Idempotency-Replay` Header is present\
    \ in the response and if it has the value `\"true\"`.\n\n### Generating Idempotency\
    \ Keys\n\n\nAlthough the technique of creating unique keys is your choice, **remember\
    \ random string with sufficient entropy to prevent overlaps is advisable.**\n\n\
    Easypay recommends the use of UUID V4 or ULID as Idempotency Key.\n\nThe maximum\
    \ length for idempotency key is **50 characters**.\n\n### How it works\n\nTwo\
    \ requests with the same Idempotency-Key but different AccountId headers will\
    \ be treated as different requests.\n\nEasypay manages idempotency by storing\
    \ the initial status code and response body for the initial request with a specific\
    \ idempotency key.\n\nThe Idempotency layer compares the request body of the incoming\
    \ request with that of the original request.\n\n**If they differ**, the system\
    \ triggers an error to prevent inadvertent misuse.\n\nRepeated requests bearing\
    \ the same key yield identical outcomes. The only exception pertains to **transient\
    \ errors**, which we have identified as the following:\n\n* Too Many Requests\
    \ (HTTP status code 429)\n* Bad Gateway (HTTP status code 502)\n* Service Unavailable\
    \ (HTTP status code 503)\n\nThe previously mentioned error codes are safe to retry.\n\
    \nTo help the client applications decide whether to retry calls, the API's responses\
    \ include an `X-Easypay-Should-Retry` header with value `\"true\"` or `\"false\"\
    `.\nNote that this header does not take into account the number of tries already\
    \ made, so clients should keep track and only send a limited number of equal requests\
    \ (e.g. 3).\n\nIf and when the header is not present, clients can use the following\
    \ strategy to determine what to do:\n\n1. If no response was received at all,\
    \ resend the request.\n2. If the response has one of the following status codes,\
    \ resend the request:\n   * Conflict (HTTP status code 409), may indicate the\
    \ original request was still in transit\n   * Too Many Requests (HTTP status code\
    \ 429)\n   * Bad Gateway (HTTP status code 502)\n   * Service Unavailable (HTTP\
    \ status code 503)\n3. If the response has status code 500 (Internal Server Error),\
    \ resend the request as long as it's **not** a `POST` request.\n4. Otherwise,\
    \ don't repeat the request and handle the error.\n\nIdempotency Keys are automatically\
    \ purged from the system once they've been in existence for 24 hours, and a fresh\
    \ request is initiated if a key is reused after its original has been deleted.\n\
    \nOnly results from API endpoints that have started execution are stored.\n\n\
    **If your request fails authentication, it will not be governed by idempotency\
    \ rules.**\n\nIdempotency keys are acceptable in all POST/PATCH requests.\n\n\
    It is unnecessary and should be avoided to supply idempotency keys in GET and\
    \ DELETE requests, as these types of requests are inherently idempotent by nature.\n"
  name: Overview
- description: |
    ## Payment Methods

    Payment methods are defined according to two different categories:
    - **Pull / Push**: The merchant requests the funds from the customer, or the customer sends the funds directly to the merchant.
    - **Synchronous / Asynchronous**: The charge happens immediately, or only after a period of time.

    ### Pull or Push
    Each method of payment is categorized as either **pull** or **push**, depending on how funds are transferred from the customer’s payment method.

    - In a method with a **pull** behaviour, the customer needs only to accept the payment request from the merchant. Credit card payments and MB WAY are examples of the described behaviour. On the credit card, the customer accepts the payment by providing his credit card details, while on MB WAY they accept by interacting with the push notification on the smartphone.

    - In a method with a **push** behaviour, the customer takes the initiative of sending the funds to the merchant. Virtual IBAN or Multibanco are examples of such behaviour. On the Virtual IBAN, the customer should go to their bank account and create a SEPA transfer to the provided IBAN. On Multibanco, the customer should go to an ATM and create a payment to the entity and reference provided.

    ### Credit / Debit Card
    A Credit / Debit card is a payment card issued to users (cardholders) to enable the cardholder to pay a merchant for a good or service. This is a **synchronous pull** payment method. This means that the payment happens immediately. Credit / Debit cards also support [authorizations](#section/Authorisations-and-Captures) where you can hold an amount for later [capture](#section/Authorisations-and-Captures).

    ### Apple Pay
    Apple Pay is a mobile payment and digital wallet service by Apple Inc. that allows users to make payments in iOS apps, and on the web using Safari. It is supported on the iPhone, Apple Watch, iPad, and Mac. Apple Pay is a **synchronous pull** payment method. This means that the payment happens immediately when the customer authorizes it using their Apple device. The merchant requests the payment, and the customer approves it on their device, which sends the payment to the merchant.
    Apple Pay does not require the customer to create any additional accounts or fill out an extensive form for each purchase. It utilizes the cards already on file in a user’s Apple Wallet. Apple Pay uses a method called tokenization to secure card information. Tokenization replaces the card number with a unique alphanumeric identifier, referred to as a token. The token is used for communication between the merchant, the bank, and Apple Pay, ensuring the actual card number is never shared with the merchant or transmitted with the payment.

    Please note that Apple Pay is not available in all regions and is subject to the terms and conditions of the card issuer.

    ### Google Pay™

    Google Pay is a mobile payment method that enables customers to pay using credit or debit cards stored in their Google Account. It is a synchronous pull payment method, meaning payments are processed immediately upon customer authorization. Google Pay primarily uses a tokenized solution for enhanced security, which most issuers accept as compliant with Strong Customer Authentication (SCA), eliminating the need for 3D-Secure (3DS) in many cases.

    Fallback for Non-Tokenized Transactions: If a transaction isn’t tokenized or the issuer requires additional authentication, the system will automatically trigger the 3DS flow to ensure payment success.

    Compatibility and Requirements: Google Pay is fully compatible with existing features like recurring payments and can be integrated seamlessly into websites and apps. It requires serving the payment page over HTTPS with a TLS domain-validated certificate for secure transactions.

    Usage: This payment method supports transactions for physical goods, donations, subscriptions, and more. The integration process involves enabling Google Pay in your payment methods settings, with minimal code implementation required when using certain payment platforms.

    Regions and Limitations: Google Pay's availability depends on the user's region. All merchants must adhere to the Google Pay APIs [Acceptable Use Policy](https://payments.developers.google.com/terms/aup) and accept the terms defined in the [Google Pay API Terms of Service](https://payments.developers.google.com/terms/sellertos).


    ### MB WAY
    MB WAY is a Portuguese local method. To use MB WAY, the customer must have a Portuguese Banking account as well as a smartphone Bank/MB WAY app installed. This is a **synchronous pull** payment method. The Merchant will issue a payment request that will trigger a push notification on the customer application. MB WAY also supports [authorizations](#section/Authorisations-and-Captures) where you can hold an amount for later [capture](#section/Authorisations-and-Captures).

    ### Multibanco
    Multibanco is a Portuguese local method. This is an **asynchronous push** payment method. The Merchant creates a payment request that will generate the Multibanco order details. The details include:
    - An entity number
    - A reference number
    - The amount to pay
    To pay, the customer introduces these details in an ATM or in their homebanking system.

    This payment method has some ***edge cases*** that you should be aware of, such as the ones below:
    - The customer can pay a different amount than the requested;
    - Multibanco refunds are not currently supported by the vendor. If refunds are needed, you can offer them via SEPA Transfer.

    ### Direct Debit
    Direct Debit is an **asynchronous pull** payment method in which a merchant withdraws funds from the customer's bank account. To do so, the customer must accept a SEPA Direct Debit (SDD) Mandate, which can be valid for multiple payments (therefore supporting single, frequent and subscription payments). To create the SDD Mandate, the merchant must supply the customer's name and IBAN.

    Depending on the customer's bank, confirmations of Direct Debit payments may take up to 14 days.
    Direct Debit is not recommended for single payments due to the risk of fraudulent customers issuing chargebacks.

    ### Virtual IBAN
    Virtual IBAN is an **asynchronous push** payment method that follows the same principles of SEPA Bank Transfers: the merchant provides the customer with an IBAN and transfer amount that they should introduce in an ATM or homebanking system to specify the bank account to which funds are to be transferred.

    In comparison with regular SEPA Transfers, Virtual IBAN has the benefit of protecting your bank account details by providing you with a virtual bank account number that supports single, frequent and subscription payments.

    Although transfers to a single-use Virtual IBAN after the first payment are initially accepted by the customer's bank (and thus funds are temporarily withdrawn), they are automatically refunded by the IBAN issuer bank.

    ### Universo Flex
    Universo Flex is a Portuguese local **synchronous pull** payment method similar to Credit Card, allowing the merchant to accept payments in 3 to 24 installments without having to be a credit intermediary.

    ### Santander Consumer Finance
    Santander Consumer Finance is a Portuguese local **asynchronous pull** payment method where the customer applies for a loan to acquire the good or service in installments. The merchant does not need to be a credit intermediary.

    ## Payment Types

    ### Single

    Single payments are one-time transactions that will let your customers pay an amount of money to you. Examples may include a purchase of a good or service, or a donation. Every payment method supported by easypay allows single payments.

    You can accept single payments entirely through our [Checkout](#tag/Checkout) solution or by calling our [Payments API](#tag/Overview).

    ### Frequent

    Frequent payments are repeatable transactions of varying sums without the client having to enter their payment details again. The original details can be obtained (*tokenized*) through our [Checkout](#tag/Checkout) solution, but each payment will have to be charged via the [Payments API](#tag/Overview).

    It is possible to limit the transferred sums by choosing minimum or maximum values, either to the total sum of the transactions or each individual transaction.

    Supported methods for frequent payments are: Credit Card, MB WAY, Multibanco, Direct Debit, and Virtual IBAN.

    ### Subscription

    Subscriptions are periodic payments of the same amount of money, configured through [Checkout](#tag/Checkout) or our [Payments API](#tag/Overview).

    Subscriptions support a number of different frequencies, ranging from daily to once every three years. Their last payment can be determined by the end date of the subscription, as well as the total number of payments captured. They also support a configurable number of retries for each capture in case of failure, as well as falling back to another (single) payment method if the recurring one is not successful.

    Supported methods for subscriptions are: Credit Card and Direct Debit.

    ## Authorisations and Captures

    Certain payment methods like credit card and MB WAY go through two distinct phases: *authorisation* and *capture*. Our integrations allow you to move through them separately (issuing a card authorisation first and later capturing the funds) or in a single step referred to in our APIs as `sale` (authorisation followed by capture).

    ### Authorisation

    Authorisation is the first step of the process and involves guaranteeing that the buyer has sufficient funds or credit available to make the payment. If so, the funds are put on hold: the customer cannot use them to pay for other goods or services, but they're not yet transferred to the merchant's account. If the merchant fails to capture the funds in the following days, the hold is lifted.

    Authorisations are useful to make sure customers have the means to purchase your product/service before actually charging them. You can issue the authorisation at the moment an order is placed and only actually transfer the funds when you ship the items or provide the service. Another interesting use case of authorisations is [multi-captures](#section/Authorisations-and-Captures).

    ### Capture

    A capture is the actual transfer of funds from the buyer to the merchant.

    ### Sale

    In many of our integrations, specifying `sale` as the type of operation will automatically perform an authorisation and a capture, immediatelly transferring the funds from the customer to the merchant in a single step (if successful).

    ### Multi-captures

    It is also possible to issue an authorisation for a value that will later be split among different captures. One example is a store supporting split payments for orders of multiple vendors. The full amount of the order is authorised but the different captures can be issued at different times, after each vendor confirms or ships the goods.
  name: Payment Concepts
- description: "Single payments are one-time transactions that will let your customers\
    \ pay an amount of money to you. <br/> Examples may include a purchase of a good\
    \ or service, or a donation. <br/> Every payment method supported by easypay allows\
    \ single payments. <br/> <div class=\"pc-tab\"> <input checked=\"checked\" id=\"\
    tab1\" type=\"radio\" name=\"pct\" /> <input id=\"tab2\" type=\"radio\" name=\"\
    pct\" /> <input id=\"tab3\" type=\"radio\" name=\"pct\" /> <input id=\"tab4\"\
    \ type=\"radio\" name=\"pct\" /> <input id=\"tab5\" type=\"radio\" name=\"pct\"\
    \ /> <input id=\"tab6\" type=\"radio\" name=\"pct\" /> <input id=\"tab7\" type=\"\
    radio\" name=\"pct\" /> <input id=\"tab8\" type=\"radio\" name=\"pct\" /> <nav>\
    \ <ul> <li class=\"tab1\"> <label id=\"ico1\" for=\"tab1\" class=\"active\" onclick='document.getElementById(\"\
    ico1\").className = \"active\"; document.getElementById(\"ico2\").className =\
    \ \"\"; document.getElementById(\"ico3\").className = \"\" document.getElementById(\"\
    ico4\").className = \"\"; document.getElementById(\"ico5\").className = \"\";\
    \ document.getElementById(\"ico6\").className =\"\"; document.getElementById(\"\
    ico7\").className =\"\"; document.getElementById(\"ico8\").className =\"\"'><img\
    \ src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/mb.png\"/></label>\
    \ </li> <li class=\"tab2\"> <label id=\"ico2\" for=\"tab2\" onclick='document.getElementById(\"\
    ico2\").className = \"active\"; document.getElementById(\"ico1\").className =\
    \ \"\"; document.getElementById(\"ico3\").className = \"\" document.getElementById(\"\
    ico4\").className = \"\"; document.getElementById(\"ico5\").className = \"\";\
    \ document.getElementById(\"ico6\").className =\"\"; document.getElementById(\"\
    ico7\").className =\"\"; document.getElementById(\"ico8\").className =\"\"'><img\
    \ src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/mbway.png\"/></label>\
    \ </li> <li class=\"tab3\"> <label id=\"ico3\" for=\"tab3\" onclick='document.getElementById(\"\
    ico3\").className = \"active\"; document.getElementById(\"ico2\").className =\
    \ \"\"; document.getElementById(\"ico1\").className = \"\";  document.getElementById(\"\
    ico4\").className = \"\";  document.getElementById(\"ico5\").className = \"\"\
    ; document.getElementById(\"ico6\").className =\"\"; document.getElementById(\"\
    ico7\").className =\"\" document.getElementById(\"ico8\").className =\"\";'><img\
    \ src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/visa.png\"/></label>\
    \ </li> <li class=\"tab4\"> <label id=\"ico4\" for=\"tab4\" onclick='document.getElementById(\"\
    ico4\").className = \"active\"; document.getElementById(\"ico2\").className =\
    \ \"\"; document.getElementById(\"ico1\").className = \"\"; document.getElementById(\"\
    ico3\").className = \"\"; document.getElementById(\"ico5\").className = \"\";\
    \ document.getElementById(\"ico6\").className =\"\"; document.getElementById(\"\
    ico7\").className =\"\"; document.getElementById(\"ico8\").className =\"\"'><img\
    \ src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/dd.png\"/></label>\
    \ </li> <li class=\"tab6\"> <label id=\"ico6\" for=\"tab6\" onclick='document.getElementById(\"\
    ico6\").className = \"active\"; document.getElementById(\"ico2\").className =\
    \ \"\"; document.getElementById(\"ico1\").className = \"\";  document.getElementById(\"\
    ico3\").className = \"\"; document.getElementById(\"ico4\").className =\"\"; document.getElementById(\"\
    ico5\").className =\"\"; document.getElementById(\"ico7\").className =\"\"; document.getElementById(\"\
    ico8\").className =\"\"'><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/vi.png\"\
    /></label> </li> <li class=\"tab7\"> <label id=\"ico7\" for=\"tab7\" onclick='document.getElementById(\"\
    ico7\").className = \"active\"; document.getElementById(\"ico2\").className =\
    \ \"\"; document.getElementById(\"ico1\").className = \"\";  document.getElementById(\"\
    ico3\").className = \"\"; document.getElementById(\"ico4\").className =\"\"; document.getElementById(\"\
    ico5\").className =\"\"; document.getElementById(\"ico6\").className =\"\"; document.getElementById(\"\
    ico8\").className =\"\"'><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/sc.png\"\
    /></label> </li> <li class=\"tab8\"> <label id=\"ico8\" for=\"tab8\" onclick='document.getElementById(\"\
    ico8\").className = \"active\"; document.getElementById(\"ico2\").className =\
    \ \"\"; document.getElementById(\"ico1\").className = \"\";  document.getElementById(\"\
    ico3\").className = \"\"; document.getElementById(\"ico4\").className =\"\"; document.getElementById(\"\
    ico5\").className =\"\"; document.getElementById(\"ico6\").className =\"\"; document.getElementById(\"\
    ico7\").className =\"\"'><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/uf.png\"\
    /></label> </li> </ul> </nav> <section> <div class=\"tab1\"> <h2>Multibanco Reference</h2>\
    \ <br/> <p>When calling the API 2.0 in single, our system returns an <b><i>entity</i></b>\
    \ and <b><i>reference</i></b> in the response JSON. When the payment is made by\
    \ the customer, our system sends a <a href=\"#tag/Payment-Generic-Operations\"\
    >Generic Notification</a> with the Single <b><i>ID</i></b>. Upon receipt, your\
    \ system should call the <a href=\"#operation/single-id-get\">Single Details</a>\
    \ endpoint with the Single <b><i>ID</i></b> reported as successful in order to\
    \ confirm it.</p> <br/> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/mb_single.png\"\
    \ target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png\"\
    /></a> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/mb_single.pdf\"\
    \ target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png\"\
    /></a> </div> <div class=\"tab2\"> <h2>MBWay</h2> <br/> <p>Upon successfully calling\
    \ API 2.0 on a Single with type <b><i>sale</i></b>, our system will communicate\
    \ to the end customer's <b>MBWAY App</b>. After the event of the customer accepting/declining\
    \ the payment, our system sends a <a href=\"#tag/Payment-Generic-Operations\"\
    >Generic Notification</a> with the Single <b><i>ID</i></b> and a <b><i>status</i></b>\
    \ (success or failed). Upon receipt of success, your system should call <a href=\"\
    #operation/single-id-get\">Single Details</a> endpoint with the Single <b><i>ID</i></b>\
    \ reported as successful in order to confirm it.</p> <p>Only for <B>Test Environment</B>,\
    \ we have these possible cases on phone:</p> &nbsp;&nbsp;911234567 - Authorized\
    \ for all operations<br/> &nbsp;&nbsp;917654321 - Failed for all operations<br/>\
    \ &nbsp;&nbsp;913456789 - Declined for all operations<br/> &nbsp;&nbsp;919876543\
    \ - Pending for all operations<br/> <br/> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/mbway_single.png\"\
    \ target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png\"\
    /></a> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/mbway_single.pdf\"\
    \ target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png\"\
    /></a> </div> <div class=\"tab3\"> <h2>Visa & Mastercard</h2> <br/> <p>By successfully\
    \ calling the API 2.0 in a Single with type <b><i>sale</i></b>, our system returns\
    \ a <b><i>URL</i></b> in the response JSON for the client to be forwarded to our\
    \ credit card gateway. The end customer must enter the card data. Our system validates\
    \ the card in the <b>VISA / MASTERCARD</b> and sends a <a href=\"#tag/Payment-Generic-Operations\"\
    >Generic Notification</a> with the Single <b><i>ID</i></b> and a <b><i>status</i></b>\
    \ (success or failed). Upon receipt of a success, your system should call the\
    \ <a href=\"#operation/single-id-get\">Single Details</a> endpoint with the Single\
    \ <b><i>ID</i></b> reported as successful in order to confirm it.</p><p>For Visa\
    \ forward and Visa details configurations follow this <a target=\"_blank\" href=\"\
    https://github.com/Easypay/documentation/blob/master/apiv2/Visa-Details-and-Fwd-v2.md\"\
    >link</a></p> <p>Only for <B>Test Environment</B>, we have these possible credit\
    \ card numbers:</p> &nbsp;&nbsp;0000000000000000 - Authorized for all operations<br/>\
    \ &nbsp;&nbsp;2222222222222222 - Proceed with 3DS authentication<br/> &nbsp;&nbsp;1111111111111111\
    \ - Failed for all operations<br/> &nbsp;&nbsp;1234123412341234 - Declined for\
    \ all operations<br/> <br/> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/visa_single.png\"\
    \ target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png\"\
    /></a> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/visa_single.pdf\"\
    \ target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png\"\
    /></a> </div> <div class=\"tab4\"> <h2>SEPA Direct Debit</h2> <br/> <p>By successfully\
    \ calling the API 2.0 in a Single with type <b><i>sale</i></b>, our system returns\
    \ a <b><i>URL</i></b> in the response JSON for the client to be forwarded to our\
    \ credit card gateway. The end customer must enter the card data. Our system validates\
    \ the card in the <b>VISA / MASTERCARD</b> and sends a <a href=\"#tag/Payment-Generic-Operations\"\
    >Generic Notification</a> with the Single <b><i>ID</i></b> and a <b><i>status</i></b>\
    \ (success or failed). Upon receipt of a success, your system should call the\
    \ <a href=\"#operation/single-id-get\">Single Details</a> endpoint with the Single\
    \ <b><i>ID</i></b> reported as successful in order to confirm it.</p> <p>Only\
    \ for <B>Test Environment</B>, all valid iban will return success but this one:\
    \ PT50000201231234567890154</p> <br/> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/dd_single.png\"\
    \ target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png\"\
    /></a> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/dd_single.pdf\"\
    \ target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png\"\
    /></a> </div> <div class=\"tab6\"> <h2>Virtual IBAN</h2> <br/> <p>When calling\
    \ the API 2.0 in single, our system returns an <b><i>IBAN</i></b> in the response\
    \ JSON. When the payment is made by the customer, our system sends a <a href=\"\
    #tag/Payment-Generic-Operations\">Generic Notification</a> with the Single <b><i>ID</i></b>.\
    \ Upon receipt, your system should call the <a href=\"#operation/single-id-get\"\
    >Single Details</a> endpoint with the Single <b><i>ID</i></b> reported as successful\
    \ in order to confirm it.</p> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/iban_single.png\"\
    \ target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png\"\
    /></a> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/iban_single.pdf\"\
    \ target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png\"\
    /></a> </div> <div class=\"tab7\"> <h2>Santander Consumer</h2> <br/> <p>By successfully\
    \ calling the API 2.0 in a Single, our system returns a <b><i>URL</i></b> in the\
    \ response JSON for the client to be forwarded to. The end customer must fullfill\
    \ the journey in the Santander Consumer page. After the journey is completed with\
    \ success, our system sends a <a href=\"#tag/Payment-Generic-Operations\">Generic\
    \ Notification</a> with the Single <b><i>ID</i></b>. Upon receipt, your system\
    \ should call the <a href=\"#operation/single-id-get\">Single Details</a> endpoint\
    \ with the Single <b><i>ID</i></b> reported as successful in order to confirm\
    \ it.</p> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/santander_single.png\"\
    \ target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png\"\
    /></a> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/santander_single.pdf\"\
    \ target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png\"\
    /></a> </div> <div class=\"tab8\"> <h2>Universo Flex</h2> <br/> <p>By successfully\
    \ calling the API 2.0 in a Single with type <b><i>sale</i></b>, our system returns\
    \ a <b><i>URL</i></b> in the response JSON for the client to be forwarded to.\
    \ The end customer must fullfill the journey in the Universo Flex page. After\
    \ the journey is completed with success or failure, our system sends a <a href=\"\
    #tag/Payment-Generic-Operations\">Generic Notification</a> with the Single <b><i>ID</i></b>.\
    \ Upon receipt, your system should call the <a href=\"#operation/single-id-get\"\
    >Single Details</a> endpoint with the Single <b><i>ID</i></b> reported as successful\
    \ in order to confirm it.</p><p>For Visa forward and Visa details configurations\
    \ follow this <a target=\"_blank\" href=\"https://github.com/Easypay/documentation/blob/master/apiv2/Visa-Details-and-Fwd-v2.md\"\
    >link</a></p> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/universo_single.png\"\
    \ target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png\"\
    /></a> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/universo_single.pdf\"\
    \ target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png\"\
    /></a> </div> </section> </div> <style> .pc-tab section div{ display: none; }\
    \ .pc-tab input{ display: none; } #tab1:checked ~ section .tab1, #tab2:checked\
    \ ~ section .tab2, #tab3:checked ~ section .tab3, #tab4:checked ~ section .tab4,\
    \ #tab5:checked ~ section .tab5, #tab6:checked ~ section .tab6, #tab7:checked\
    \ ~ section .tab7, #tab8:checked ~ section .tab8 { display: block; } #tab1:checked\
    \ ~ nav .tab1, #tab2:checked ~ nav .tab2, #tab3:checked ~ nav .tab3, #tab4:checked\
    \ ~ nav .tab4, #tab5:checked ~ nav .tab5, #tab6:checked ~ nav .tab6, #tab7:checked\
    \ ~ nav .tab7, #tab8:checked ~ nav .tab8 { color: red; } .pc-tab { width: 100%;\
    \ max-width: 700px; margin: 0 auto; } .pc-tab ul { list-style: none; margin: 0;\
    \ padding: 0 !important; } .pc-tab ul li label { float: left; padding: 5px 25px;\
    \ border: 1px solid #ddd; cursor: pointer; background: #eeeeee; color: #444; position:\
    \ relative; top: 1px; } } .pc-tab ul li label:hover { background: #dddddd; } .pc-tab\
    \ ul li label:active { background: #ffffff; } .pc-tab ul li label.active { background:\
    \ #ffffff; border-bottom: 1px solid #ffffff; } .pc-tab ul li label:focus { background:\
    \ #ffffff; } .pc-tab ul li:not(:last-child) label { border-right-width: 0; } .pc-tab\
    \ section { clear: both; } .pc-tab section div { padding: 20px; width: 100%; border:\
    \ 1px solid #ddd; background: #fff; line-height: 1.5em; letter-spacing: 0.3px;\
    \ color: #444; } .pc-tab section div h2 { margin: 0; letter-spacing: 1px; color:\
    \ #34495e; } #tab1:checked ~ nav .tab1 label, #tab2:checked ~ nav .tab2 label,\
    \ #tab3:checked ~ nav .tab3 label, #tab4:checked ~ nav .tab4 label, #tab5:checked\
    \ ~ nav .tab5 label, #tab6:checked ~ nav .tab6 label, #tab7:checked ~ nav .tab7\
    \ label, #tab8:checked ~ nav .tab8 label { background: white; color: #111; position:\
    \ relative; } #tab1:checked ~ nav .tab1 label:after, #tab2:checked ~ nav .tab2\
    \ label:after, #tab3:checked ~ nav .tab3 label:after, #tab4:checked ~ nav .tab4\
    \ label:after, #tab5:checked ~ nav .tab5 label:after, #tab6:checked ~ nav .tab6\
    \ label:after, #tab7:checked ~ nav .tab7 label:after, #tab8:checked ~ nav .tab8\
    \ label:after { content: \"\"; display: block; position: absolute; height: 2px;\
    \ width: 100%; background: #ffffff; left: 0; bottom: -1px; } .hide{ display: none;\
    \ } .myblue{ color: #0D71F9; } .mygreen{ color: #39B54A; } .myred{ color: #D4145A;\
    \ } .mypink{ color: #EF2AC1; } @media only screen and (max-width: 600px) { .hide_mobile\
    \ { display: none; } } </style>"
  name: Single Payment
- description: |-
    Payments used on frequent services with amounts and periodicity changes <br/> <div id="freq"> <div class="pc-tab"> <input checked="checked" id="tab1a" type="radio" name="pcta" /> <input id="tab2a" type="radio" name="pcta" /> <input id="tab3a" type="radio" name="pcta" /> <input id="tab4a" type="radio" name="pcta" /> <nav> <ul> <li class="tab1a"> <label id="ico1a" for="tab1a" class="active" onclick='document.getElementById("ico1a").className = "active"; document.getElementById("ico2a").className = ""; document.getElementById("ico3a").className = ""; document.getElementById("ico4a").className = ""'><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/mb.png"/></label> </li> <li class="tab2a"> <label id="ico2a" for="tab2a" onclick='document.getElementById("ico2a").className = "active"; document.getElementById("ico1a").className = ""; document.getElementById("ico3a").className = ""; document.getElementById("ico4a").className = ""'><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/mbway.png"/></label> </li> <li class="tab3a"> <label id="ico3a" for="tab3a" onclick='document.getElementById("ico3a").className = "active"; document.getElementById("ico2a").className = ""; document.getElementById("ico1a").className = ""; document.getElementById("ico4a").className = ""'><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/visa.png"/></label> </li> <li class="tab4a"> <label id="ico4a" for="tab4a" onclick='document.getElementById("ico4a").className = "active"; document.getElementById("ico2a").className = ""; document.getElementById("ico1a").className = ""; document.getElementById("ico3a").className = ""'><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/dd.png"/></label> </li> </ul> </nav> <section> <div class="tab1a"> <h2>Multibanco Reference</h2> <br/> <p>After one Frequent MB request our system will return an <b><i>entity</i></b> and a <b><i>reference</i></b> in the JSON response. The customer can always pay between the min and max values several times before the expiration date or when the method  <a href="#tag/Frequent-Payment%2Fpaths%2F~1frequent~1%7Bid%7D%2Fdelete">Deletes Frequent</a> is called with success. If the parameter <b><i>unlimited_payments</i></b> is active transactions will be unlimited, <b><i>entity</i></b> and <b><i>reference</i></b> is reseted on our provider 3 times a day, otherwise the total value of payments can’t exceed the max defined. For each payment made with this entity and reference, our system sends a <a href="#tag/Payment-Generic-Operations">Generic Notification</a> with the Frequent <b><i>ID</i></b>.</p> <br/> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/mb_freq.png" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png"/></a> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/mb_freq.pdf" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png"/></a> </div> <div class="tab2a"> <h2>MBWay</h2> <br/> <p>After successfully calling the API 2.0 on a Frequent MBW you can capture funds through the Frequent <b><i>ID</i></b> on a Capture call, our system will communicate to the end customer's <b>MBWAY App</b>. If the final customer accepts / rejects payment, the system sends a <a href="#tag/Payment-Generic-Operations">Generic Notification</a> with the Capture <b><i>ID</i></b> and a <b><i>status</i></b> (success or failed). Upon successful receipt, the system should call the <a href="#tag/Frequent-Payment%2Fpaths%2F~1frequent~1%7Bid%7D%2Fget">Frequent Details</a> endpoint with the Frequent <b><i>ID</i></b> reported as successful in order to confirm it.</p> <p>Only for <B>Test Environment</B>, we have these possible cases on phone:</p> &nbsp;&nbsp;911234567 - Authorized for all operations<br/> &nbsp;&nbsp;917654321 - Declined for all operations<br/> &nbsp;&nbsp;919876543 - Pending for all operations<br/> <br/> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/mbway_freq.png" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png"/></a> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/mbway_freq.pdf" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png"/></a> </div> <div class="tab3a"> <h2>Visa & Mastercard</h2> <br/> <p>When calling the API 2.0 successfully on a Frequent CC, the system returns a <b><i>URL</i></b> in JSON for the client to be forwarded to our credit card gateway. The end customer must enter the card data. The system validates the card in the <b>VISA / MASTERCARD</b> and notifies <a href="#tag/Payment-Generic-Operations">Generic Notification</a> with the Frequent <b><i>ID</i></b> and a status (success or failed). Upon successful receipt, the system should call the <a href="#tag/Frequent-Payment%2Fpaths%2F~1frequent~1%7Bid%7D%2Fget">Frequent Details</a> endpoint with the Frequent <b><i>ID</i></b> reported as successful. From a successful communication, you can capture funds using the Frequent <b><i>ID</i></b> in a Capture call. The system will capture the funds from the card and sends a <a href="#tag/Payment-Generic-Operations">Generic Notification</a> with the Capture <b><i>ID</i></b> and a status (success or failed). Upon successful receipt, the system should call the <a href="#tag/Frequent-Payment%2Fpaths%2F~1frequent~1%7Bid%7D%2Fget">Frequent Details</a> endpoint with the Frequent <b><i>ID</i></b> reported as successful.</p><p>For Visa forward and Visa details configurations follow this <a target="_blank" href="https://github.com/Easypay/documentation/blob/master/apiv2/Visa-Details-and-Fwd-v2.md">link</a>.</p> <br/> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/visa_freq.png" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png"/></a> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/visa_freq.pdf" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png"/></a> </div> <div class="tab4a"> <h2>SEPA Direct Debit</h2> <br/> <p>When calling API 2.0 successfully on a Frequent DD, the system returns in JSON including the  SEPA Direct Debit Mandate <b><i>ID</i></b> and an additional <b><i>entity</i></b>/<b><i>reference</i></b> for additional payments. From now on funds can be captured through the Frequent <b><i>ID</i></b> using the <a href="#tag/Payment-Generic-Operations%2Fpaths%2F~1capture~1%7Bid%7D%2Fpost">Capture</a> endpoint, these funds can take up to 48 business hours to obtain a SEPA direct debit response. When responding, the system notifies with  <a href="#tag/Payment-Generic-Operations">Generic Notification</a> with the Capture <b><i>ID</i></b> and a <b><i>status</i></b> (success or failed). Upon successful receipt, the system should call the <a href="#tag/Frequent-Payment%2Fpaths%2F~1frequent~1%7Bid%7D%2Fget">Frequent Details</a> endpoint with the Frequent <b><i>ID</i></b> reported as successful.</p> <br/> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/dd_freq.png" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png"/></a> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/dd_freq.pdf" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png"/></a> </div> </section> </div> </div> <style> #freq .pc-tab section div{ display: none; } #freq .pc-tab input{ display: none; } #freq #tab1a:checked ~ section .tab1a, #freq #tab2a:checked ~ section .tab2a, #freq #tab4a:checked ~ section .tab4a, #freq #tab3a:checked ~ section .tab3a { display: block; } #freq #tab1a:checked ~ nav .tab1a, #freq #tab2a:checked ~ nav .tab2a, #freq #tab4a:checked ~ nav .tab4a, #freq #tab3a:checked ~ nav .tab3a { color: red; } #freq .pc-tab { width: 100%; max-width: 700px; margin: 0 auto; } #freq .pc-tab ul { list-style: none; margin: 0; padding: 0 !important; } #freq .pc-tab ul li label { float: left; padding: 5px 25px; border: 1px solid #ddd; cursor: pointer;
    background: #eeeeee; color: #444; position: relative; top: 1px; } #freq .pc-tab ul li label:hover { background: #dddddd; } #freq .pc-tab ul li label:active { background: #ffffff; } #freq .pc-tab ul li label.active { background: #ffffff; border-bottom: 1px solid #ffffff; } #freq .pc-tab ul li label:focus { background: #ffffff; }
    #freq .pc-tab ul li:not(:last-child) label { border-right-width: 0; } #freq .pc-tab section { clear: both; } #freq .pc-tab section div { padding: 20px; width: 100%; border: 1px solid #ddd; background: #fff; line-height: 1.5em; letter-spacing: 0.3px; color: #444; } #freq .pc-tab section div h2 { margin: 0; letter-spacing: 1px; color: #34495e; } #freq #tab1a:checked ~ nav .tab1a label, #freq #tab2a:checked ~ nav .tab2a label, #freq #tab4a:checked ~ nav .tab4a label, #freq #tab3a:checked ~ nav .tab3a label { background: white; color: #111; position: relative; } #freq #tab1a:checked ~ nav .tab1a label:after, #freq #tab2a:checked ~ nav .tab2a label:after, #freq #tab4a:checked ~ nav .tab4a label:after, #freq #tab3a:checked ~ nav .tab3a label:after { content: ""; display: block; position: absolute; height: 2px; width: 100%; background: #ffffff; left: 0; bottom: -1px; } </style>
  name: Frequent Payment
- name: Subscription Payment
- description: "These operations can be used on all our payment types: single, frequent\
    \ and subscription"
  name: Payment Generic Operations
- description: |
    ## What are notifications and why they are useful
    Easypay use notifications (webhooks) for event notifications.

    Notifications are **POST API** calls (JSON encoded) that let your application know an event has happened.

    This is a server-to-server service that sends near real-time notifications, informing about a payment status change.

    Notifications are particularly useful for asynchronous events like:

    * when a customer pays a MB reference.
    * a frequent payment succeeds/fails.
    * subscription succeeds/fails, among other useful events.
    * a checkout single sale payment succeeds/fails.

    With notifications your system can automate custom actions in response to the transitions that happen in a payment flow.


    ## Supported Notification types

    Easypay supports 3 notification types:

    - **Generic notification**: a notification informing about all state transitions of some payment resource.
    - **Authorisation notification**: a notification informing about some payment transitioning to authorization status. Available for single and frequent payments.
    - **Transaction notification**: a notification informing about some payment transitioning to capture status. Available for single and frequent payments.

    As an example, if you subscribe to Generic and Authorisation notifications, we will inform you about the payment status transition to authorized in two different formats and you will receive two notifications for the same event.

    What varies in these two notifications, for the same event, is the contract of the notification message.

    ## Generic Notification

    All transitions that happen in a payment flow are notified via generic notification.

    The notification flow follows the following diagram:

    ![Recommended flow](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/notification_recommended_flow.png)

    1. A change of payment state is notified to the configured generic notification endpoint.
    2. The integrator system that received a generic notification, queries Easypay API's. This is a recommended to ensure that the received notification was issued by Easypay.
    3. The integrator system performs its internal application logic regarding the payment state transition, according to API response.

    The generic notification message contains the following fields:
    ```json
    {
      "id": "5eca7446-14e9-47bb-aabb-5ee237159b8b",
      "key": "dcf9ab3fd95ca3d5607853f36d46f161c8715858",
      "type": "capture",
      "status": "success",
      "messages": ["Your request was successfully captured"],
      "date": "2022-08-10 14:56:54"
    }
    ```

    ### Payload Attributes

    | Name         | Type   | Description                                                                                                                                                                                                          |
    |--------------|--------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
    | **type**     | string | the type of payment status change.                                                                                                                                                                                   |
    | **status**   | string | the status of the given payment status change.                                                                                                                                                                       |
    | **messages** | string | messages associated with this payment status change.                                                                                                                                                                 |
    | **date**     | string | the expiration associated with this single or frequent payment. Follows the format <Y-m-d H:i> If none was given, defaults to empty.he merchant identification key provided on a single or frequent payment request. |

    In a generic notification, the fields `id` and `key` will change according to the **payment type** and **operation**.

    The following table describes the possible combinations:

    | Payment Type                           | Name                  | Type                  | Description                                                                                                                              |
    |----------------------------------------|-----------------------|-----------------------|------------------------------------------------------------------------------------------------------------------------------------------|
    | **Single Authorisation**               | **id** <br /> **key** | string  <br /> string | the `id` of the single payment.<br /> the field `key` given to create single request payload.                                            |
    | **Single Capture**                     | **id** <br /> **key** | string  <br /> string | the `id` of the single payment.<br />the field `transaction_key` given to capturing single payload.                                      |
    | **Single Sale**                        | **id** <br /> **key** | string  <br /> string | the `id` of the single payment. <br />the field `transaction_key`, inside of object `capture`, given to create single request payload.   |
    | **Frequent Create**                    | **id** <br />**key**  | string  <br /> string | the `id` of the frequent payment.<br />the field `key` given to create frequent request payload.                                         |
    | **Frequent Authorization**             | **id** <br />**key**  | string  <br /> string | the `id` of the frequent payment.<br />the field `transaction_key` given to authorisation frequent request payload.                      |
    | **Frequent Capture**                   | **id** <br />**key**  | string  <br /> string | the `id` of the capture operation. <br />the field `transaction_key` given to capture frequent request payload.                          |
    | **Refund Single/Frequent Capture**     | **id** <br />**key**  | string <br /> string  | the `id` of the refund.<br />the field `transaction_key` given to refund capture request payload.                                        |
    | **Void Single/Frequent Authorisation** | **id** <br />**key**  | string <br /> string  | the `id` of the void.<br />the field `transaction_key` given to void authorisation request payload.                                      |
    | **Subcription Create**                 | **id** <br />**key**  | string <br /> string  | the `id` of the subscription.<br />the field `key` given to create subscription request payload.                                         |
    | **Subcription Capture**                | **id** <br />**key**  | string <br /> string  | the `id` of the subscription.<br />the field `transaction_key` inside of object `capture`, given to create subscription request payload. |
    | **Chargeback Single**                  | **id** <br />**key**  | string <br /> string  | the `id` of the single.<br />the field `transaction_key` given to create frequent request payload.                                       |
    | **Chargeback Frequent**                | **id** <br />**key**  | string <br /> string  | the `id` of the capture operation.<br />the field `transaction_key` given to capture frequent request payload.                           |
    | **Outpayment**                         | **id** <br />**key**  | string <br /> string  | the `id` of the outpayment operation.<br />the field `key` given to create outpayment request payload.                                   |

    ### Authorisation Notification Message structure

    The delivered authorisation notification message contains the following fields:
    ```json
    {
      "id": "1bbc14c3-8ca8-492c-887d-1ca86400e4fa",
      "value": 1,
      "currency": "EUR",
      "key": "the merchant key",
      "expiration_time": "2022-01-01 10:20",
      "customer": {
        "id": "22ea3cc9-424b-489a-91b7-8955f643dc93",
        "name": "Customer Example",
        "email": "customer@example.com",
        "phone": "911234567",
        "phone_indicative": "+351",
        "fiscal_number": "PT123456789",
        "key": "Key Example",
        "language": "PT"
      },
      "method": "mb",
      "account": {
        "id": "4c67e74b-a256-4e0a-965d-97bf5d01bd50"
      },
      "authorisation": {
        "id": "4c67e74b-a256-4e0a-965d-97bf5d01bd50"
      }
    }
    ```

    ### Attributes

    | Name                | Type   | Description                                                                                                                          |
    |---------------------|--------|--------------------------------------------------------------------------------------------------------------------------------------|
    | **id**              | string | the uuid of a single or frequent payment                                                                                             |
    | **value**           | double | the amount requested on single/frequent creation. Rounded to 2 decimals.                                                             |
    | **key**             | string | the merchant identification key provided on a single or frequent payment request                                                     |
    | **expiration_time** | string | the expiration associated with this single or frequent payment. Follows the format <Y-m-d H:i> If none was given, defaults to empty. |
    | **customer**        | object | the customer associated at single or frequent payment request                                                                        |
    | **method**          | string | the choosen payment method associated with single or frequent payment                                                                |
    | **account**         | object | the account from which this notification was originated                                                                              |
    | **authorization**   | object | the authorization details.                                                                                                           |

    ## Transaction Notification Message structure

    The transaction notification message contains the following fields:
    ```json
    {
      "id": "87615356-0a88-42bd-8abb-aab3e90128de",
      "value": "40",
      "currency": "EUR",
      "key": "the merchant key",
      "expiration_time": "2023-08-07 20:00",
      "method": "MBW",
      "customer": {
        "id": "2eb64a7f-90a7-4dc6-959b-1d9aba44910c",
        "phone": "910410419"
      },
      "account": {
        "id": "0b8de6e7-89c8-4d76-93e8-019bc058f27d"
      },
      "transaction": {
        "id": "eb23923b-3529-4b71-b54e-1e707a8d55c4",
        "key": "transaction_key_of_this_capture",
        "type": "capture",
        "date": "2022-08-10T12:45:50Z",
        "values": {
          "requested": "40",
          "paid": "40",
          "fixed_fee": "0",
          "variable_fee": "0",
          "tax": "0",
          "transfer": "0"
        }
      }
    }
    ```

    ### Attributes

    | Name                | Type   | Description                                                                                                                          |
    |---------------------|--------|--------------------------------------------------------------------------------------------------------------------------------------|
    | **id**              | string | the uuid of a single or frequent payment                                                                                             |
    | **value**           | double | the amount requested on single/frequent creation. Rounded to 2 decimals.                                                             |
    | **currency**        | string | the currency of requested amount requested on single/frequent creation.                                                              |
    | **key**             | string | the merchant identification key provided on a single or frequent payment request.                                                    |
    | **expiration_time** | string | the expiration associated with this single or frequent payment. Follows the format <Y-m-d H:i> If none was given, defaults to empty. |
    | **method**          | string | the choosen payment method associated with single or frequent payment.                                                               |
    | **customer**        | object | the customer associated at single or frequent payment request.                                                                       |
    | **account**         | object | the account from which this notification was originated.                                                                             |
    | **transaction**     | object | the details of this transaction.                                                                                                     |

    ## Configuring Notifications

    On Easypay backoffice, navigate to `Web Services > Configuration API 2.0`.

    Select the payment account you want to receive notifications.

    Select `Notifications`.

    To receive generic notifications, place your system url on `Generic - URL `.

    To receive authorisation notifications, place your system url on `Authorisation - URL`.

    To receive capture notifications, place your system url on `Payment - URL`.

    ## Following Notification via Backoffice

    On Easypay backoffice, navigate to `Web Services > Notifications API 2.0`.

    There, you can select the payment account whose notifications you are interested in.
  name: Notifications / Webhooks
- name: Reports
- description: These operations will allow our clients to transfer their funds from
    Easypay Accounts to a Sepa Bank Account.
  name: Out Payment
- description: Account URL configuration for notifications and credit card transactions
  name: Config
- description: |
    ## Overview

    Checkout is easypay's integrated solution for collecting payments in any website.

    It requires no extensive programming knowledge by including a pre-built payment form directly in your website. Checkout is responsible for:
    - Collecting user information.
    - Allowing payment method selection.
    - Collecting payment information.
    - Invoking payment APIs.
    - Displaying payment feedback.

    ![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/overview.png)

    ## Supported payment methods

    Currently, the supported payment methods are:
    - [Credit Card](#section/Payment-Methods)
    - [MB WAY](#section/Payment-Methods)
    - [Apple Pay](#section/Payment-Methods)
    - [Google Pay](#section/Payment-Methods)
    - [Multibanco Reference](#section/Payment-Methods)
    - [Direct Debit](#section/Payment-Methods)
    - [Virtual IBAN](#section/Payment-Methods)
    - [Universo Flex](#section/Payment-Methods)
    - [Santander Consumer](#section/Payment-Methods)

    To know how to choose from the available methods and integrate them with Checkout, read the [integration guide](#tag/Checkout).

    ## Supported payment types

    Both [single](#section/Payment-Types) and [frequent](#section/Payment-Types) payments, as well as [subscriptions](#section/Payment-Types) are accepted by Checkout.

    ## Integration methods

    All Checkout interactions begin by making a server-to-server [request to create a Checkout session](#section/Guide). The request will return a *Checkout **manifest***, which is then used to configure and display a Checkout form created exclusively for that payment interaction.

    You can then display a Checkout form in your page by invoking our [Checkout SDK](#section/Guide). The SDK can be included from a CDN, via HTML `<script>` tag, or you can use it as an NPM dependency in your project and import it in JavaScript/TypeScript.

    This two-step approach makes Checkout the easiest way to integrate easypay payments in your custom website.

    ## Demo

    You can explore a [live integration of Checkout](https://checkout-demo.easypay.pt) to see what exactly is included in the solution, as well as trying out each payment flow.

    The source code for the application, as well as instructions for running it locally, is available at the [public repository](https://github.com/Easypay/checkout-demo).

    ## Guide

    ### Requirements

    Before using Checkout, you will need an [easypay payment account](https://www.easypay.pt/en/blog/onboarding-on-the-website/).

    An example app that demonstrates the steps described in this guide is available at https://github.com/Easypay/checkout-demo .

    ### Creating a checkout session

    To create a Checkout session, you are required to send a server-to-server `POST` request to the [`/checkout`](#tag/Checkout) endpoint. The created session will have an expiration time of 30 minutes at most, after which the users won't be able to pay that specific Checkout anymore.

    Like all API requests, this request is authenticated as described in [Authentication](#section/Authentication), which means you must include the `AccountId` and `ApiKey` headers.

    An example payload is:

    ```json
    {
      "type": ["single"],
      "payment": {
        "methods": ["cc", "mb", "mbw", "dd", "vi", "uf", "sc"],
        "type": "sale",
        "capture": {
          "descriptive": "Purchase in MyStore"
        },
        "currency": "EUR",
        "expiration_time": null
      },
      "order": {
        "items": [
          {
            "description": "T-shirt",
            "quantity": 1,
            "key": "t-shirt",
            "value": 12.5
          },
          {
            "description": "Gloves",
            "quantity": 1,
            "key": "gloves",
            "value": 7
          }
        ],
        "key": "order-123",
        "value": 19.5
      }
    }
    ```

    You can check all the possible parameters in the [Checkout reference](#tag/Checkout).

    The service will return something like:

    ```json
    {
      "id": "57cc19e9-f393-4cfa-9516-8807763b5096",
      "session": "8zoaBOC0Mj5Mg_YAbdRCqYGI66Zc2DttAWeyVcedzhuT3r2IE8aS7l7H-sQOyppgawIv-wO48H_oKDHMzvMf1TeIJwo3Xu7HO7Tmj7y1iblt8t9JlEzyNdf5HurTvCeszC8PdRS4mbaPBCMCQ7g4xkG0qUuOEhiee5OB49MJJQ-Mo9vEnC_R4hzRBi-HSIMviTNDcCm5NiMnn__nWZxpfAmh6pYUg_eznqTGNbheYLu7ku_mBn7HvAdJQcgsmk6eeD-Z9S8SsK-ONHpbJQz1LNZsUkIIiWpNxPMrzD5Je0r2veawzAaIQmCeN8hYncHDfl5YZ7PP28MFVtEjMGOxsOsqxL4wmDOLPO5s6aWMq7Dxns-OGgf0r7dmaka4Y2mXovLVtNxsGgsNbBav8K86f5DceCDmPKBzYh-X5i1nx07LuqYKoJmA8NfyVP5tb-R3Y9dtwbPzcHc_AyQVKlsM0HtW3JXAdqoIBfsDgUqwASeuqQHEyIITKlcRvDIzWFaxTgXmmJauj6et7mo1GEM4L1gDkA1IXOd3n4HU2GvfPw==",
      "config": null
    }
    ```

    This return object is referred to as a **Checkout manifest**, and will be needed in the steps below.

    ### Integrating in your page

    #### Script tag

    Include the easypay Checkout SDK in your page:

    ```html
    <script src="https://cdn.easypay.pt/checkout/2.6.2/"></script>
    ```

    Prepare an empty element in your page where you'd like the Checkout form to be and give it the `easypay-checkout` id:

    ```html
    <div id="easypay-checkout"></div>
    ```

    Make sure to trigger the server-to-server call described above and get the contents of the manifest:

    ```javascript
    const manifest = await yourFunctionToGetTheManifest()
    ```

    Then, use the globally available `easypayCheckout` variable to initialize the SDK and display the form:

    ```javascript
    easypayCheckout.startCheckout(manifest)
    ```

    And the Checkout should be running smoothly.

    #### Testing

    <partial path="/en/checkout/_testing"></partial>

    #### NPM import

    Instead of directly including the JavaScript library from the CDN, you can import it as an NPM module:

    ```bash
    npm install --save @easypaypt/checkout-sdk
    ```

    And use it like any other importable dependency:

    ```javascript
    import { startCheckout } from '@easypaypt/checkout-sdk'

    startCheckout(manifest)
    ```

    All the other steps are the same as for the CDN.

    #### Customizing element id

    If you'd like to have the Checkout form displayed in an element with another id, for instance:

    ```html
    <div id="checkout-form"></div>
    ```

    You can pass the id in the options parameter of the Checkout initialization:

    ```javascript
    startCheckout(manifest, {id: 'checkout-form',
    })
    ```

    #### Removing Checkout contents

    When starting a Checkout form, you can store the return value to later manage it (particularly by removing it from the page at a later date).

    ```javascript
    const checkoutInstance = startCheckout(manifest)
    ```

    When you no longer wish to display the Checkout contents, call the `unmount()` method on the return object:

    ```javascript
    checkoutInstance.unmount()
    ```

    #### Reacting to successful payment interactions

    Even before the Checkout process is completed (by the user pressing the End button or closing the popup), the Checkout SDK is able to notify you of a successful payment interaction.

    This doesn't necessarily mean that the funds were transferred, but that no more user interaction with the Checkout is needed.

    For instance, for a Credit Card payment, this means that the user successfully authorized the operation, and for Multibanco payments this means the user has requested the entity and reference values to pay later.

    ```javascript
    function mySuccessHandler(checkoutSuccessInfo) {// There was a successful payment interaction// You can react to details in checkoutSuccessInfo
    }

    const checkoutInstance = startCheckout(manifest, {onSuccess: mySuccessHandler,
    })
    ```

    Your callback function can receive a parameter with additional details about the outcome of the payment process. The full reference of the details is available on the [reference page](#tag/Checkout).
    #### Reacting to Checkout UI close

    It will often be useful to know when users finish the Checkout process, so you can hide the Checkout contents and display a thank you message.
    The SDK includes a callback parameter that you can pass to get notified when the Checkout process is closed. In inline mode, this always means that the user finished a payment interaction, but in popup mode the user can choose to close the Checkout popup without finishing a payment interaction.


    ```javascript
    let successfulPaymentInteraction = false

    function mySuccessHandler(checkoutSuccessInfo) {successfulPaymentInteraction = true
    }

    function myCloseHandler() {if (successfulPaymentInteraction) {
        checkoutInstance.unmount()
        document.write('Your order was received. Thank you.')
    }
    }

    const checkoutInstance = startCheckout(manifest, {onSuccess: mySuccessHandler, onClose: myCloseHandler,
    })
    ```

    #### Saving frequent payment information

    Processing a frequent payment means you have to save tokenized payment details to later use them to actually transfer funds.

    To create a frequent payment Checkout session, your initial `POST` request to `/checkout` will have to include the `type` property set to `['frequent']`.

    After the user selects a payment method and fills in their details (if any), the SDK will call the success handler with the result information. It is at this point that you should send the `payment.id` field to your server.

    ```javascript
    function saveTokenizedPayment(checkoutSuccessInfo) {sendTokenToServer(checkoutSuccessInfo.payment.id)
    }

    const checkoutInstance = startCheckout(manifest, {onSuccess: saveTokenizedPayment,
    })
    ```

    From then on, you can use the payment ID to send server-to-server requests capturing funds.

    Each capture is created by sending a `POST` request to the `/capture/<payment id>` endpoint. The request must be authenticated with the AccountId and ApiKey headers as usual.
    The payload has to include at least the `descriptive` and `value` for the capture. Learn more in the [service reference](#section/Authorisations-and-Captures).

    ```json
    {
      "descriptive": "Purchase in MyStore",
      "value": 20
    }
    ```

    On success, the service will return something similar to:

    ```json
    {
      "status": "ok",
      "message": ["Your request was successfully created"],
      "id": "c68d8d1a-4c95-4a87-b9b5-031057b3a68e"
    }
    ```

    You can use the resulting capture `id` to get information about the specific capture by issuing an authenticated `GET` request to `/capture/<capture id>`. Learn more in the [service reference](#section/Authorisations-and-Captures).

    It will reply with the capture details:

    ```json
    {
      "account": {
        "id": "1a398de4-d318-48fc-a9fd-230f863dc0e1"
      },
      "capture_date": "2022-08-02",
      "descriptive": "Purchase in MyStore",
      "force_3ds":false,
      "id": "c68d8d1a-4c95-4a87-b9b5-031057b3a68e",
      "payment_id": "76ab3c32-7883-459f-a0ef-5fe0541e0ec7",
      "payment_type": "frequent",
      "status": "success",
      "transaction_key": "",
      "value": 20
    }
    ```

    **Note**: for frequent Multibanco Reference payments, no capture request is necessary. It's the customer's responsibility to make new payments to the same reference.

    If you wish to be notified each time a payment is successful, follow our [Notifications documentation](#tag/Notifications-Webhooks).

    #### Accepting subscriptions

    For periodical payments with a set frequency, you can accept subscription payments in Checkout.

    To do so, you will need to specify a payment `type` of `["subscription"]`.

    You will also need to define:
    - A `payment.start_time`, that determines when the subscription payments start. The start time must be in the future.
    - A `payment.frequency` that sets the periodicity of the payments (weekly, monthly, etc). Available values are:
    - `"1D"` (daily)
    - `"1W"` (weekly)
    - `"2W"` (biweekly)
    - `"1M"` (monthly)
    - `"2M"` (bimonthly)
    - `"3M"` (trimonthly)
    - `"4M"` (quadmonthly)
    - `"6M"` (semiannually)
    - `"1Y"` (annually)
    - `"2Y"` (biannually)
    - `"3Y"` (triannually)
    - Either a `payment.expiration_time` or a `payment.max_captures`, so that the subscription has an end eventually.

    Check the [reference](#tag/Checkout) for additional details and all the available properties.

    An example request payload would therefore be:

    ```json
    {
      "type": ["subscription"],
      "payment": {
        "methods": ["cc", "dd"],
        "type": "sale",
        "capture": {
          "descriptive": "Purchase in MyStore"
        },
        "start_time": "2023-01-01 00:00",
        "frequency": "1M",
        "expiration_time": "2030-12-31 23:59"
      },
      "order": {
        "items": [
          {
            "description": "My streaming service",
            "quantity": 1,
            "key": "streaming-service",
            "value": 12.5
          }
        ],
        "key": "order-123",
        "value": 12.5
      }
    }
    ```

    After typing their details, the customer would then see a confirmation dialog for the subscription:

    ![Subscription](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/subscription.png)

    Pressing the proceed button allows to continue on with the payment method selection and the remaining interaction is the same as for single and frequent payments.

    #### Reacting to Checkout errors

    The Checkout process is resilient to most forms of errors and allows the customer to retry multiple times with different payment methods until the payment is completed.
    However, there are cases where the Checkout form is unable to recover on its own, such as an expired Checkout session, an attempt to pay a Checkout that was already paid or a Checkout that was canceled.

    You can be notified of such cases by passing the callback parameter `onError`:

    ```javascript
    function myErrorHandler(error) {checkoutInstance.unmount()switch (error.code) {
        case 'checkout-expired':// In this case a new Checkout session must be createdconst manifest = await yourFunctionToGetTheManifest()checkoutInstance = startCheckout(manifest, {
            onError: myErrorHandler
    })
        break
    case 'already-paid':
        document.write('Your order was already paid. Thank you.')
        break
    case 'checkout-canceled':
        document.write('Your checkout was canceled.')
        break
    default:
        document.write('Unable to process payment, please try again.')
    }
    }

    const checkoutInstance = startCheckout(manifest, {onError: myErrorHandler
    })
    ```

    The list of possible errors is further documented in [the reference](#section/Errors)

    #### How to use popup module

    If you want to integrate Checkout and display it in a popup this is what you need to do:

    1. Import easypay's Checkout SDK into you project:

    - See [Integrating in your page](tag#Integrating-in-your-page)

    2. Add a button with an id to your page:

    ```html
    <button id="checkout">Open Popup</button>
    ```

    ```js
    function initEasypayCheckoutSDK(manifest) {checkoutInstance = easypayCheckout.startCheckout(manifest, {
        id: 'checkout',
        display: 'popup',
    })
    }
    ```

    Result:

    <img width="746" alt="Checkout Popup Mode" src="https://user-images.githubusercontent.com/30448483/172881494-7265ff97-d142-4fee-9a2b-047b986dbefc.png">

    #### Changing Checkout's appearance

    Checkout supports a robust styling API that allows integrators to change its appearance in order to better blend it in their website.

    The list of customizations include:
    - An optional company logo to display in the header
    - The colors used in:
    - The background
    - Highlights (the more colorful sections of the page, originally blue)
    - Buttons
    - Input borders and backgrounds
    - Whether to use floating labels in the inputs
    - Whether to use box-shadow in the buttons
    - The font family used to render the text
    - The overall text size

    With a combination of some of these options, it's possible to change the Checkout entirely, fitting it in your website with ease.

    Example:

    ```js
    const checkoutInstance = easypayCheckout.startCheckout(manifest, {logoUrl: 'www.example.com/mylogo.png', accentColor: 'orange', buttonBackgroundColor: '#111', buttonBoxShadow: false, buttonBorderRadius: 5, inputBorderRadius: 5, inputBorderColor: '#000', inputBackgroundColor: '#ffe7c4', backgroundColor: '#eee', fontFamily: 'https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrEVIT9d0c8.woff2',
    })
    ```

    Outcome:

    ![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/stylingapi.png)

    To see every individual option in detail, check the [reference](/checkout/reference#examples-of-each-appearance-property).

    ## SDK

    ### `startCheckout(manifest, [options])`

    #### Parameters:

    - `manifest`: The return object from the [checkout service](#operation/checkout-post!c=201&path=session&t=response).
    - `options`: An optional object containing any of the following properties:
      | Option           | Type       | Required | Default              | Description                                                                |
      | ---------------- | ---------- | -------- | -------------------- | -------------------------------------------------------------------------- |
      | `id`             | `string`   | no       | `'easypay-checkout'` | The id of the HTML element where the Checkout form should be included.     |
      | `onSuccess`      | `function` | no       | `() => {}`           | Callback function to be called when the Checkout is finished successfully. |
      | `onError`        | `function` | no       | `() => {}`           | Callback function to be called on (unrecoverable) errors.                  |
      | `onPaymentError` | `function` | no       | `() => {}`           | Callback function to be called on (recoverable) payment errors.            |
      | `onClose`        | `function` | no       | `undefined`          | Callback function to be called when the Checkout interaction is closed.    |
      | `testing`        | `boolean`  | no       | `false`              | Whether to use the testing API (`true`) or the production one (`false`).   |
      | `display`(1)     | `string`   | no       | `'inline'`           | The display style of the element that hosts the Checkout.                  |
      | `hideDetails`    | `boolean`  | no       | `false` | Whether to hide the details form or not. An expandable summary will be shown with the details, instead. |
      | `language`(2)    | `string`   | no       | `undefined`          | The language in which to display the Checkout.                             |
      | `logoUrl`               | `string`  | no       | `undefined`     | The merchant logo url to display in the Checkout.                           |
      | `backgroundColor`       | `string`  | no       | `'#ffffff'`     | The color used as the background of the Checkout page.                      |
      | `accentColor`           | `string`  | no       | `'#0d71f9'`     | The color used in highlights, as well as default buttons and input borders. |
      | `errorColor`            | `string`  | no       | `'#ff151f'`     | The color used for errors.                                                  |
      | `inputBackgroundColor`  | `string`  | no       | `'transparent'` | The color used for the input backgrounds.                                   |
      | `inputBorderColor`      | `string`  | no       | *accentColor*   | The color for input borders.                                                |
      | `inputBorderRadius`     | `number`  | no       | `50`            | The border radius for inputs, in `px`.                                      |
      | `inputFloatingLabel`    | `boolean` | no       | `true`          | Whether inputs should use floating labels.                                  |
      | `buttonBackgroundColor` | `string`  | no       | *accentColor*   | The color used for the button backgrounds.                                  |
      | `buttonBorderRadius`    | `number`  | no       | `50`            | The border radius for buttons, in `px`.                                     |
      | `buttonBoxShadow`       | `boolean` | no       | `true`          | Whether the buttons should have box-shadow.                                 |
      | `fontFamily`            | `string`  | no       | `'Overpass'`    | The font used for the text.                                                 |
      | `baseFontSize`          | `number`  | no       | `10`            | The value in `px` for the font size of the root element (`1rem`).           |

      ##### Options

      (1) `display` available values: `inline` (default) or `popup`.
      (2) `language` available values: `en` or `pt_PT`. If left `undefined`, a default language will be selected according to the customer's browser language.

    #### Return:

    - A `CheckoutInstance` object, containing the following method:
        - `unmount()`: Removes all Checkout form content and event listener.

    <br>

    #### Success handler:

    `onSuccess(checkoutInfo)`

    Receives an object with the following properties:

    | Property  | Type     | Description                                                                        |
    |-----------|----------|------------------------------------------------------------------------------------|
    | `id`      | `string` | The id of the Checkout session.                                                    |
    | `type`    | `string` | The payment type for this Checkout (`'single'`, `'frequent'` or `'subscription'`). |
    | `payment` | `Object` | Detailed information about the payment.                                            |

    Properties of the `payment` Object:

    **Note**: Some properties only appear with certain payment methods.

    | Property             | Method                   | Type     | Description                                                                      |
    |----------------------|--------------------------|----------|----------------------------------------------------------------------------------|
    | `id`                 | All                      | `string` | The payment's id.                                                                |
    | `method` (1)         | All                      | `string` | The payment method chosen by the customer.                                       |
    | `status` (2)         | All                      | `Object` | The status of the payment.                                                       |
    | `value`              | All                      | `number` | The order value, rounded to two decimal places. Not used in `frequent` payments. |
    | `cardType`           | Credit Card              | `string` | The credit card type (`'VISA'` or `'MasterCard'`).                               |
    | `lastFour`           | Credit Card              | `string` | The last four digits of the credit card.                                         |
    | `cardCountryCode`    | Credit Card              | `string` | The country code of the credit card.                                             |
    | `expirationDate` (3) | Credit Card / Multibanco | `string` | The expiration date of the card (Credit Card) or the payment (Multibanco).       |
    | `entity`             | Multibanco               | `string` | The Multibanco entity.                                                           |
    | `reference`          | Multibanco               | `string` | The Multibanco reference.                                                        |
    | `sddMandate` (4)     | Direct Debit             | `Object` | SEPA Direct Debit mandate.                                                       |
    | `iban`               | Virtual IBAN             | `string` | The created IBAN.                                                                |

    (1) Possible method values are the same as in the [Checkout creation](/checkout/reference#create-checkout-session).

    (2) Possible payment status values:
    <details><summary>Expand</summary>

    - `'authorised'`
    - `'deleted'`
    - `'enrolled'`
    - `'error'`
    - `'failed'`
    - `'paid'`
    - `'pending'`
    - `'success'`
    - `'tokenized'` (To be used later in `frequent` payments.)
    - `'voided'`
    </details>

    (3) Format of the expiration varies between Credit Card (`'MM/YY'` format) and Multibanco (`'Y-m-d H:i'`).

    (4) Properties of the `sddMandate` Object:
    <details><summary>Expand</summary>

    | Property        | Type     | Description                                                           |
    |-----------------|----------|-----------------------------------------------------------------------|
    | `accountHolder` | `string` | Name of the account holder.                                           |
    | `billingEntity` | `string` | The billing entity for the payments.                                  |
    | `countryCode`   | `string` | Country code of the bank account.                                     |
    | `email`         | `string` | The customer's e-mail address.                                        |
    | `iban`          | `string` | The IBAN.                                                             |
    | `id`            | `string` | The mandate's id.                                                     |
    | `maxNumDebits`  | `string` | The maximum number of debits allowed for this Direct Debit.           |
    | `name`          | `string` | The customer's name. May be different from the account holder's name. |
    | `phone`         | `string` | The customer's phone number.                                          |
    | `referenceAdc`  | `string` | The authorization reference.                                          |

    </details>

    <br>

    #### Error handler:

    `onError(error)`

    Receives an object with the following property:

    | Property | Type      | Description                                                               |
    |----------|-----------|---------------------------------------------------------------------------|
    | `code`   | `string ` | The type of error that occurred. See the table below for possible values. |

    The error `code` has the following possible values and recommended solutions:

    | Value               | Cause                             | Recommended solution                                                                                                                 |
    |---------------------|-----------------------------------|--------------------------------------------------------------------------------------------------------------------------------------|
    | `checkout-expired`  | The Checkout session has expired. | Create a new Checkout session with the server-to-server call and use the newly returned Manifest to instantiate a new Checkout form. |
    | `already-paid`      | The Checkout was already paid.    | Refresh the order information and confirm that it was paid. Give feedback to the user accordingly.                                   |
    | `checkout-canceled` | The Checkout was canceled.        | Create a new Checkout session with the server-to-server call and use the newly returned Manifest to instantiate a new Checkout form. |
    | `generic-error`     | An unspecified error occurred.    | Since the root cause is unclear, you can try creating a new session or signal an error to the user.                                  |

    <br>

    #### Payment error handler:

    `onPaymentError(error)`

    Signals the occurrence of a recoverable error during a payment attempt. These errors are informative and for logging/analysis purposes, as the user is allowed (and encouraged) to try the payment again with the same or other payment method.

    Receives an object with the following properties:

    | Property        | Type     | Description                                                               |
    | --------------- | -------- | ------------------------------------------------------------------------- |
    | `code`          | `string` | The type of error that occurred. See the table below for possible values. |
    | `paymentMethod` | `string` | The payment method for which the error happened.                          |
    | `checkout`      | `object` | On `payment-failure` errors, the Checkout object containing the payment information that had already been created. Has the same properties as the [onSuccess](/checkout/reference#success-handler) `checkoutInfo` object. |

    The error `code` has the following possible values and recommended solutions:

    | Value             | Cause                                                      | Recommended solution                           |
    | ----------------- | ---------------------------------------------------------- | ---------------------------------------------- |
    | `generic-error`   | There was an error before the payment process had started. | Allow the user to try again. If problem persists, report it to easypay.                                                       |
    | `payment-failure` | There was an error after the payment process had started.  | Allow the user to try again. If problem persists, use the attached `checkout` object to get details about the payment intent. |

    #### Examples of each appearance property

    ##### Changing the logo

    ```js
    const checkoutInstance = easypayCheckout.startCheckout(manifest, {
      logoUrl: 'www.example.com/mylogo.png'
    })
    ```

    Outcome:

    ![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withlogo.png)

    ##### Changing the background color


    ```js
    const checkoutInstance = easypayCheckout.startCheckout(manifest, {
      backgroundColor: '#222222'
    })
    ```

    The text colors are automatically adjusted to shades of black or white depending on the background color, in order to achieve the best contrast possible.

    Outcome:

    ![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withbgcolor.png)


    ##### Changing the accent color

    ```js
    const checkoutInstance = easypayCheckout.startCheckout(manifest, {
      accentColor: '#ffa861'
    })
    ```

    The text colors (over the accent, such as in buttons) are automatically adjusted to black or white, in order to achieve the best contrast possible.

    Outcome:

    ![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withaccentcolor.png)


    ##### Changing the error color

    ```js
    const checkoutInstance = easypayCheckout.startCheckout(manifest, {
      errorColor: '#d18800'
    })
    ```

    Outcome:

    ![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/witherrorcolor.png)


    ##### Changing the input background color

    ```js
    const checkoutInstance = easypayCheckout.startCheckout(manifest, {
      inputBackgroundColor: '#001f3d'
    })
    ```

    Outcome:

    ![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withinputbgcolor.png)


    ##### Changing the input border color

    ```js
    const checkoutInstance = easypayCheckout.startCheckout(manifest, {
      inputBorderColor: '#000000'
    })
    ```

    Outcome:

    ![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withinputbordercolor.png)


    ##### Changing the input border radius

    ```js
    const checkoutInstance = easypayCheckout.startCheckout(manifest, {
      inputBorderRadius: 0
    })
    ```

    Outcome:

    ![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withinputborderradius.png)


    ##### Using non-floating labels

    ```js
    const checkoutInstance = easypayCheckout.startCheckout(manifest, {
      inputFloatingLabel: false
    })
    ```

    Outcome:

    ![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withoutfloatinglabels.png)


    ##### Changing button background color

    ```js
    const checkoutInstance = easypayCheckout.startCheckout(manifest, {
      buttonBackgroundColor: '#000000'
    })
    ```

    The button text color is automatically adjusted to black or white, in order to achieve the best contrast possible.

    Outcome:

    ![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withbuttonbgcolor.png)


    ##### Changing button border radius

    ```js
    const checkoutInstance = easypayCheckout.startCheckout(manifest, {
      buttonBorderRadius: 0
    })
    ```

    Outcome:

    ![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withbuttonborderradius.png)


    ##### Disabling button box-shadow

    ```js
    const checkoutInstance = easypayCheckout.startCheckout(manifest, {
      buttonBoxShadow: false
    })
    ```

    Outcome:

    ![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withoutbuttonboxshadow.png)


    ##### Changing font family

    ```js
    const checkoutInstance = easypayCheckout.startCheckout(manifest, {
      fontFamily: 'cursive'
    })
    ```

    The `fontFamily` property can have three types of values:
    - Generic family name (e.g. `'sans-serif'`, `'serif'`, `'cursive'`)
    - Web safe font (e.g. `'arial'`, `'verdana'`)
    - Web font URL (e.g. `'https://fonts.gstatic.com/s/overpass/v12/qFda35WCmI96Ajtm83upeyoaX6QPnlo6_PPbM5qKl8Kuo8AzesE.woff2'`, must include the protocol `http`/`https`)

    Outcome:

    ![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withfontfamily.png)


    ##### Changing base font size

    ```js
    const checkoutInstance = easypayCheckout.startCheckout(manifest, {
      baseFontSize: 8
    })
    ```

    Changes the value in `px` for the font size of the root element (`1rem`). The default value is `10`, so any value below will reduce the font size, while a value above will increase it.

    Besides changing the size of the text (while keeping the proportions), this setting changes most of the layout dimensions, effectively increasing or decreasing the scale.

    Outcome:

    ![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withbasefontsize.png)
  name: Checkout
- description: Pay By Link introduction
  name: Pay By Link
paths:
  /single:
    get:
      description: Full report with all the single payments from your Account
      operationId: single-get
      parameters:
      - $ref: '#/components/parameters/PageQuery'
      - $ref: '#/components/parameters/RecordsPerPage'
      - $ref: '#/components/parameters/Type'
      - $ref: '#/components/parameters/ExpirationTime'
      - $ref: '#/components/parameters/Method'
      - $ref: '#/components/parameters/CustomerKey'
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/Key'
      - $ref: '#/components/parameters/Value'
      - $ref: '#/components/parameters/CreatedAt'
      responses:
        "200":
          $ref: '#/components/responses/ListSingle'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "412":
          $ref: '#/components/responses/PreConditionFailed'
        "500":
          $ref: '#/components/responses/InternalError'
      security:
      - accountId: []
        apiKey: []
      summary: Lists single payments
      tags:
      - Single Payment
    post:
      description: Creates a Single Payment
      operationId: single-post
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/CreateSinglePayment'
      responses:
        "201":
          $ref: '#/components/responses/CreateSinglePayment'
        "400":
          $ref: '#/components/responses/BadRequest'
        "403":
          $ref: '#/components/responses/Forbidden'
        "412":
          $ref: '#/components/responses/PreConditionFailed'
        "500":
          $ref: '#/components/responses/InternalError'
      summary: Create single payment
      tags:
      - Single Payment
  /single/{id}:
    delete:
      description: |-
        This endpoint allows for the deletion of a single payment identified by its unique ID. The DELETE operation performs the following actions based on the payment method:

          - MBWay and Credit Cards: Voids all authorizations.
          - Multibanco: Cancels the Multibanco Reference.
          - Direct Debit: Cancels the Direct Debit if the request is made before the cutoff hour(18:00 Europe/Lisbon).

        This operation ensures that all associated authorizations and references are properly handled and terminated according to the specified payment method.
      operationId: single-delete
      parameters:
      - description: Resource Identification
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequest'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
      summary: Deletes single payment
      tags:
      - Single Payment
    get:
      description: Retrive a single payment details
      operationId: single-id-get
      parameters:
      - description: Resource Identification
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/responses/GetSingleDetails'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
      summary: Shows single payment details
      tags:
      - Single Payment
    parameters:
    - explode: false
      in: path
      name: id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    patch:
      description: Apply partial modifications to a single payment resource.
      operationId: single-update
      parameters:
      - description: Resource Identification
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateSingle'
      responses:
        "200":
          $ref: '#/components/responses/SingleUpdate'
        "400":
          $ref: '#/components/responses/BadRequest'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
      summary: Update a single Payment
      tags:
      - Single Payment
  /frequent:
    get:
[...]
